

  .svgicon {
    fill: white;

}

svg.e-font-icon-svg {
    width: 38px;
}
/* Apply Flexbox to the row */
.rowflex {
    display: flex;
    align-items: center;
  }
  
  /* Make each box flex and take up equal space */
  .col-sm-12 {
    flex: 1;
    align-self: stretch;
  }
  
  /* Optional: Add some margin or padding to the boxes */
  .box {
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
  }
  
  .box:hover {
    background: black;
}
.box:hover p {
    color: white; /* Change this to the desired text color */
}

.contitems{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.hourly {
    background: white;
    padding: 3px;
    border-radius: 60px;
}

button.theme-button.content-block-5__button {
    padding: 14px;
    /* height: 37px; */
    border-radius: 33px;
}
button.theme-button.content-block-5__button::before  {
    padding: 14px;
    /* height: 37px; */
    border-radius: 33px;
}
/* imgbox */

.imgbox {
 
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin: 15px 0px
  }
  
  .imgtitle {
    background: #000000a6;
    color: white;
    position: absolute;
    bottom: 0;
    /* left: 50%; */
    margin-left: 5px;
    margin-bottom: -40px;
    width: 350px;
    /* height: 30px; */
    /* line-height: 30px; */
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    padding: 26px 25px;
  }
  
 
 
  .imgbox:hover .imgtitle {
    opacity: 1;
    margin-bottom: 0px;
  }
  .imgbo{
    width: 350px !important;
    height: 250px !important;
  }
  /* like view  */
  .like{
    background: black;
    padding: 9px;
    border-radius: 23px;
    font-size: 15px;
}

.coll-6 {
    width: 50%;
}
.d-flex{
    display: flex;
}
.d-md-none{
    display: none;
}
/* mobile  */
.m-none{
    display: block;
}
.white{
    color: white;
}
@media only screen and (max-width: 768px) {
  .list-inline>li {
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
}
    .m-padding-0{
        padding: 0px;
    }
    .d-md-none{
        display: block;
    }
    .m-none{
        display: none;
    }
    .rowflex {
        display: block;
  }
  .imgtitle {
   
    /* left: 50%; */
    margin-left: -10px;
  }
 .mcenter {
    text-align: center;
}
}





table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #ddd;
}
th, td {
  padding: 15px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}

.swiper {
  width: 100%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.logout{
  width: auto !important;

  right: -5px !important;
  padding: 5px !important;
  
}
.error{
  background: red;
  color: wheat;
  text-align: center;
  padding: 2px;
}
