html {
  --3477626056: #000;
  --2574810031: #202125;
  --1165765287: rgba(32, 33, 37, 0.8);
  --3763335109: rgba(32, 33, 37, 0.6);
  --1301625293: rgba(32, 33, 37, 0.4);
  --1529071501: rgba(32, 33, 37, 0.2);
  --203343004: rgba(32, 33, 37, 0.12);
  --2434780554: #999;
  --1782081665: #fff;
  --520411852: #202125;
  --873061234: rgba(32, 33, 37, 0.12);
  --2614808855: #f5f5f5;
  --981189211: #e1e1e1;
  --3261851564: hsla(0, 0%, 88%, 0.6);
  --1235219442: #fff;
  --827732822: #fff;
  --4229425095: hsla(0, 0%, 100%, 0.95);
  --532366285: hsla(0, 0%, 100%, 0.8);
  --569110351: hsla(0, 0%, 100%, 0.7);
  --4046467179: hsla(0, 0%, 100%, 0.6);
  --1368458670: hsla(0, 0%, 100%, 0.5);
  --2826474054: hsla(0, 0%, 100%, 0.2);
  --1305588964: hsla(0, 0%, 100%, 0);
  --3153880342: #f1f3fd;
  --3644322065: #f1f1f1;
  --3502636724: #f8f8f8;
  --429669166: #2a2a2a;
  --2173572259: #202125;
  --97820737: rgba(32, 33, 37, 0.8);
  --1542052251: rgba(32, 33, 37, 0.6);
  --2464825406: rgba(32, 33, 37, 0.5);
  --2762855860: rgba(32, 33, 37, 0.33);
  --390175823: rgba(32, 33, 37, 0.25);
  --1048634036: rgba(32, 33, 37, 0.16);
  --2732777590: rgba(32, 33, 37, 0.12);
  --3202725210: rgba(32, 33, 37, 0.06);
  --1726846906: #e4e4e4;
  --1827132171: hsla(0, 0%, 89%, 0.7);
  --1834324657: #ccc;
  --2880914188: #f5f6f7;
  --2066373192: #ebebeb;
  --1246870197: #ebebeb;
  --590345169: #fff;
  --1101834254: hsla(0, 0%, 100%, 0.95);
  --1222149592: #d9d0c1;
  --2301541356: #173af8;
  --2248036443: rgba(23, 58, 248, 0.24);
  --2276187930: rgba(23, 58, 248, 0.06);
}

html.light {
  --3477626056: #000;
  --2574810031: #202125;
  --1165765287: rgba(32, 33, 37, 0.8);
  --3763335109: rgba(32, 33, 37, 0.6);
  --1301625293: rgba(32, 33, 37, 0.4);
  --1529071501: rgba(32, 33, 37, 0.2);
  --203343004: rgba(32, 33, 37, 0.12);
  --2434780554: #999;
  --1782081665: #fff;
  --520411852: #202125;
  --873061234: rgba(32, 33, 37, 0.12);
  --2614808855: #f5f5f5;
  --981189211: #e1e1e1;
  --3261851564: hsla(0, 0%, 88%, 0.6);
  --1235219442: #fff;
  --827732822: #fff;
  --4229425095: hsla(0, 0%, 100%, 0.95);
  --532366285: hsla(0, 0%, 100%, 0.8);
  --569110351: hsla(0, 0%, 100%, 0.7);
  --4046467179: hsla(0, 0%, 100%, 0.6);
  --1368458670: hsla(0, 0%, 100%, 0.5);
  --2826474054: hsla(0, 0%, 100%, 0.2);
  --1305588964: hsla(0, 0%, 100%, 0);
  --3153880342: #f1f3fd;
  --3644322065: #f1f1f1;
  --3502636724: #f8f8f8;
  --429669166: #2a2a2a;
  --2173572259: #202125;
  --97820737: rgba(32, 33, 37, 0.8);
  --1542052251: rgba(32, 33, 37, 0.6);
  --2464825406: rgba(32, 33, 37, 0.5);
  --2762855860: rgba(32, 33, 37, 0.33);
  --390175823: rgba(32, 33, 37, 0.25);
  --1048634036: rgba(32, 33, 37, 0.16);
  --2732777590: rgba(32, 33, 37, 0.12);
  --3202725210: rgba(32, 33, 37, 0.06);
  --1726846906: #e4e4e4;
  --1827132171: hsla(0, 0%, 89%, 0.7);
  --1834324657: #ccc;
  --2880914188: #f5f6f7;
  --2066373192: #ebebeb;
  --1246870197: #ebebeb;
  --590345169: #fff;
  --1101834254: hsla(0, 0%, 100%, 0.95);
  --1222149592: #d9d0c1;
  --2301541356: #173af8;
  --2248036443: rgba(23, 58, 248, 0.24);
  --2276187930: rgba(23, 58, 248, 0.06);
}

@media (prefers-color-scheme: dark) {
  html.auto-theme {
    --3477626056: #fff;
    --2574810031: #fff;
    --1165765287: hsla(0, 0%, 100%, 0.8);
    --3763335109: hsla(0, 0%, 100%, 0.6);
    --1301625293: hsla(0, 0%, 100%, 0.4);
    --1529071501: hsla(0, 0%, 100%, 0.2);
    --203343004: hsla(0, 0%, 100%, 0.12);
    --2434780554: #999;
    --1782081665: #fff;
    --520411852: #666;
    --873061234: hsla(0, 0%, 40%, 0.12);
    --2614808855: #202125;
    --981189211: #333;
    --3261851564: rgba(51, 51, 51, 0.6);
    --1235219442: #333;
    --827732822: #222;
    --4229425095: rgba(34, 34, 34, 0.95);
    --532366285: rgba(34, 34, 34, 0.8);
    --569110351: rgba(34, 34, 34, 0.7);
    --4046467179: rgba(34, 34, 34, 0.6);
    --1368458670: rgba(34, 34, 34, 0.5);
    --2826474054: rgba(34, 34, 34, 0.2);
    --1305588964: rgba(34, 34, 34, 0);
    --3153880342: #2b2e3a;
    --3644322065: #222;
    --3502636724: #2a2a2a;
    --2173572259: #040404;
    --97820737: rgba(4, 4, 4, 0.8);
    --1542052251: rgba(4, 4, 4, 0.6);
    --2464825406: rgba(4, 4, 4, 0.5);
    --2762855860: rgba(4, 4, 4, 0.33);
    --390175823: rgba(4, 4, 4, 0.25);
    --1048634036: rgba(4, 4, 4, 0.16);
    --2732777590: rgba(4, 4, 4, 0.12);
    --3202725210: rgba(4, 4, 4, 0.06);
    --429669166: #000;
    --1726846906: #444;
    --1827132171: rgba(68, 68, 68, 0.7);
    --1834324657: #666;
    --2880914188: #000;
    --2066373192: #000;
    --1246870197: #000;
    --590345169: #000;
    --1101834254: rgba(0, 0, 0, 0.95);
    --1222149592: #5f513a;
    --2301541356: #173af8;
    --2248036443: rgba(23, 58, 248, 0.24);
    --2276187930: rgba(23, 58, 248, 0.06);
    color-scheme: dark;
  }
}

html.dark {
  --3477626056: #fff;
  --2574810031: #fff;
  --1165765287: hsla(0, 0%, 100%, 0.8);
  --3763335109: hsla(0, 0%, 100%, 0.6);
  --1301625293: hsla(0, 0%, 100%, 0.4);
  --1529071501: hsla(0, 0%, 100%, 0.2);
  --203343004: hsla(0, 0%, 100%, 0.12);
  --2434780554: #999;
  --1782081665: #fff;
  --520411852: #666;
  --873061234: hsla(0, 0%, 40%, 0.12);
  --2614808855: #202125;
  --981189211: #333;
  --3261851564: rgba(51, 51, 51, 0.6);
  --1235219442: #333;
  --827732822: #222;
  --4229425095: rgba(34, 34, 34, 0.95);
  --532366285: rgba(34, 34, 34, 0.8);
  --569110351: rgba(34, 34, 34, 0.7);
  --4046467179: rgba(34, 34, 34, 0.6);
  --1368458670: rgba(34, 34, 34, 0.5);
  --2826474054: rgba(34, 34, 34, 0.2);
  --1305588964: rgba(34, 34, 34, 0);
  --3153880342: #2b2e3a;
  --3644322065: #222;
  --3502636724: #2a2a2a;
  --2173572259: #040404;
  --97820737: rgba(4, 4, 4, 0.8);
  --1542052251: rgba(4, 4, 4, 0.6);
  --2464825406: rgba(4, 4, 4, 0.5);
  --2762855860: rgba(4, 4, 4, 0.33);
  --390175823: rgba(4, 4, 4, 0.25);
  --1048634036: rgba(4, 4, 4, 0.16);
  --2732777590: rgba(4, 4, 4, 0.12);
  --3202725210: rgba(4, 4, 4, 0.06);
  --429669166: #000;
  --1726846906: #444;
  --1827132171: rgba(68, 68, 68, 0.7);
  --1834324657: #666;
  --2880914188: #000;
  --2066373192: #000;
  --1246870197: #000;
  --590345169: #000;
  --1101834254: rgba(0, 0, 0, 0.95);
  --1222149592: #5f513a;
  --2301541356: #173af8;
  --2248036443: rgba(23, 58, 248, 0.24);
  --2276187930: rgba(23, 58, 248, 0.06);
  color-scheme: dark;
}

html.lights-out {
  --3477626056: #fff;
  --2574810031: #fff;
  --1165765287: hsla(0, 0%, 100%, 0.8);
  --3763335109: hsla(0, 0%, 100%, 0.6);
  --1301625293: hsla(0, 0%, 100%, 0.4);
  --1529071501: hsla(0, 0%, 100%, 0.2);
  --203343004: hsla(0, 0%, 100%, 0.12);
  --2434780554: #999;
  --1782081665: #fff;
  --520411852: #666;
  --873061234: hsla(0, 0%, 40%, 0.12);
  --2614808855: #202125;
  --981189211: #333;
  --3261851564: rgba(51, 51, 51, 0.6);
  --1235219442: #333;
  --827732822: #222;
  --4229425095: rgba(34, 34, 34, 0.95);
  --532366285: rgba(34, 34, 34, 0.8);
  --569110351: rgba(34, 34, 34, 0.7);
  --4046467179: rgba(34, 34, 34, 0.6);
  --1368458670: rgba(34, 34, 34, 0.5);
  --2826474054: rgba(34, 34, 34, 0.2);
  --1305588964: rgba(34, 34, 34, 0);
  --3153880342: #2b2e3a;
  --3644322065: #222;
  --3502636724: #2a2a2a;
  --2173572259: #040404;
  --97820737: rgba(4, 4, 4, 0.8);
  --1542052251: rgba(4, 4, 4, 0.6);
  --2464825406: rgba(4, 4, 4, 0.5);
  --2762855860: rgba(4, 4, 4, 0.33);
  --390175823: rgba(4, 4, 4, 0.25);
  --1048634036: rgba(4, 4, 4, 0.16);
  --2732777590: rgba(4, 4, 4, 0.12);
  --3202725210: rgba(4, 4, 4, 0.06);
  --429669166: #000;
  --1726846906: #444;
  --1827132171: rgba(68, 68, 68, 0.7);
  --1834324657: #666;
  --2880914188: #000;
  --2066373192: #000;
  --1246870197: #000;
  --590345169: #000;
  --1101834254: rgba(0, 0, 0, 0.95);
  --1222149592: #5f513a;
  --2301541356: #173af8;
  --2248036443: rgba(23, 58, 248, 0.24);
  --2276187930: rgba(23, 58, 248, 0.06);
  --2574810031: #ddd;
  --981189211: #1d1d1d;
  --827732822: #0d0d0d;
  --4229425095: hsla(0, 0%, 5%, 0.95);
  --532366285: hsla(0, 0%, 5%, 0.8);
  --569110351: hsla(0, 0%, 5%, 0.7);
  --4046467179: hsla(0, 0%, 5%, 0.6);
  --1368458670: hsla(0, 0%, 5%, 0.5);
  --2826474054: hsla(0, 0%, 5%, 0.2);
  --1305588964: hsla(0, 0%, 5%, 0);
  --1235219442: #222;
  --3644322065: #111;
  --3502636724: #1a1a1a;
  color-scheme: dark;
}

.svgicon {
  fill: white;
}

svg.e-font-icon-svg {
  width: 38px;
}
/* Apply Flexbox to the row */
.rowflex {
  display: flex;
  align-items: center;
}

/* Make each box flex and take up equal space */
.col-sm-12 {
  flex: 1;
  align-self: stretch;
}

/* Optional: Add some margin or padding to the boxes */
.box {
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.box:hover {
  background: black;
}
.box:hover p {
  color: white; /* Change this to the desired text color */
}

.contitems {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hourly {
  background: white;
  padding: 3px;
  border-radius: 60px;
}

button.theme-button.content-block-5__button {
  padding: 14px;
  /* height: 37px; */
  border-radius: 33px;
}
button.theme-button.content-block-5__button::before {
  padding: 14px;
  /* height: 37px; */
  border-radius: 33px;
}
/* imgbox */

.imgbox {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin: 15px 0px;
}

.imgtitle {
  background: #000000a6;
  color: white;
  position: absolute;
  bottom: 0;
  /* left: 50%; */
  margin-left: 0px;
  margin-bottom: -40px;
  width: 100%;
  /* height: 30px; */
  /* line-height: 30px; */
  text-align: center;
  opacity: 0;
  transition: all 0.3s linear;
  padding: 7% 10%;
}

.imgbox:hover .imgtitle {
  opacity: 1;
  margin-bottom: 0px;
}
.imgbo {
  width: 350px !important;
  height: 250px !important;
}
/* like view  */
.like {
  background: black;
  padding: 9px;
  border-radius: 23px;
  font-size: 15px;
}

.coll-6 {
  width: 50%;
}
.d-flex {
  display: flex;
}
.d-md-none {
  display: none;
}
/* mobile  */
.m-none {
  display: block;
}
.white {
  color: white;
}
@media only screen and (max-width: 768px) {
  .list-inline > li {
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
  }
  .m-padding-0 {
    padding: 0px;
  }
  .d-md-none {
    display: block;
  }
  .m-none {
    display: none;
  }
  .rowflex {
    display: block;
  }
  .imgtitle {
    /* left: 50%; */
    margin-left: -10px;
  }
  .mcenter {
    text-align: center;
  }
  .akls {
    width: 67% !important;
  }
  .saikoihsaoP {
    width: 30% !important;
  }
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid #ddd;
}
th,
td {
  padding: 15px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}

.swiper {
  width: 100%;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.logout {
  width: auto !important;

  right: -5px !important;
  padding: 5px !important;
}
.error {
  background: red;
  color: wheat;
  text-align: center;
  padding: 2px;
}
.frombg {
  background: #042127;
  padding: 20px;
  border-radius: 8px;
  margin: 40px 0px;
}
.timeinput {
  width: 30%;
}
.selectampm {
  width: 20%;
  padding: 1.8px 0;
}
.timedis {
  justify-content: space-between;
  display: flex;
}
.sucess {
  background: #3aab3a;
  color: white;
  margin: 7px 0;
  padding: 0px 11px;
  border-radius: 4px;
  text-align: center;
}
.spacebetween-arround {
  display: flex;
  justify-content: space-around;
}
.modal button.close {
  right: 0;
  outline: 0;
}

#gallery-lightbox img {
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

#gallery-lightbox img:hover {
  opacity: 0.9;
  transition: 0.5s ease-out;
}

img.d-block.w-100 {
  width: 100%;
}
.deletebutton {
  color: red;
  font-size: 20px;
  background: white;
  padding: 5px;
  border-radius: 5px;
}
.view {
  position: absolute;
  /* margin-top: 5px; */
  background: black;
  padding: 10px;
}
/* comment model */
/* Modal styles */
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 70%;
}

/* Overlay styles */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999999;
}
.close {
  background: red;
  color: white;
  padding: 7px;
  border-radius: 3px;
  opacity: 0.6;
}
.close ::before {
  opacity: 1;
}
.adasds {
  /* text-align: center; */
  display: flex;
  align-items: center;
  height: 70%;
  width: 100%;
}
.akls {
  width: 86%;
  margin-right: 2%;
}
.saikoihsaoP {
  width: 10%;
  background: black;
  color: white;
  border-radius: 5px;
  padding: 3px 0 3px 0;
}

.space {
  margin: 0 4px;
}
.commentchat {
  background: #80808045;
  padding: 2px 13px;
  border-radius: 11px;
  margin: 10px 0;
  list-style: none;
}
.scrollable-div {
  /* Define your preferred width */
  height: 70%; /* Define your preferred height */
  overflow: auto; /* Enable scrollbar when content exceeds div height */
}
.scrollable-div::-webkit-scrollbar {
  width: 2px;
}

/* For Firefox */
.scrollable-div {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

img.yarl__slide_image {
  height: 1600px !important;
  width: 1600px !important;
  max-width: 100% !important;
  max-height: 100% !important;
}
.instruction {
  position: absolute;
  background: white;
  padding: 10px;
  border-radius: 10px;
  top: 30px;
}
/* Hide the instruction initially */
.instruction {
  display: none;
}

/* Show the instruction when hovering over the question mark icon */
.map:hover + .instruction {
  display: block;
}
.delediv {
  display: flex;
  align-items: center;
}
button.delete {
  background: red;
  border: navajowhite;
  border-radius: 5px;
  color: white;
  /* margin: 2px; */
  padding: 2px 9px;
  font-size: 12px;
}
.comments-container {
  max-height: 400px;
  overflow-y: auto;
  border: solid white;
  border-width: 1px 0px 0px 0px;
  margin: 30px 0px;
}

/* Customize scrollbar for Webkit browsers */
.comments-container::-webkit-scrollbar {
  width: 5px; /* Set your desired width here */
}

/* Set the scrollbar track (background) color */
.comments-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change to your preferred color */
}

/* Set the scrollbar thumb (handle) color */
.comments-container::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* Change to your preferred color */
}

.commp {
  color: #1fbad6;
  padding: 0;
  margin: 4px 0 10px;
  background: white;
  border-radius: 5px;
}
.comcom {
  color: white;
}

/* Poulami */
.styling {
  list-style: none;
  text-decoration: none;
  margin: 10px;
  /* display: flex; */
  width: calc(29.33% - -14px);
  margin: 4px;
}
button.closee {
  color: red;
  position: absolute;
  top: 19px;
  margin-right: 17px;
}
.gapping {
  gap: 10px;
}

.sizze {
  display: flex;
  flex-wrap: wrap;
}
textarea.form-controls {
  height: 100px;
}
.eOmJt_U {
  align-items: stretch;
  animation: zgpPJSa 0.2s cubic-bezier(0.2, 0, 0.4, 1) forwards;
  background-color: var(--827732822);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

@keyframes zgpPJSa {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dtp2gKc {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  padding: 16px 0;
}

.z8vjSKb {
  flex-shrink: 0;
  padding: 16px 16px 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .z8vjSKb {
    margin: 0 auto;
    width: 340px;
  }
}

._ohZIgk {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: auto;
  width: 100%;
}

.wvD59fS {
  margin: auto;
  padding: 0 16px 16px;
}

@media only screen and (min-width: 768px) {
  .wvD59fS {
    width: 340px;
  }
}

.OGIgNda {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: var(--2574810031);
  cursor: pointer;
  font-size: 16px;
  margin: -16px -16px 10px;
  padding: 16px;
}

@media only screen and (min-width: 768px) {
  .OGIgNda {
    margin: -32px -32px 10px;
    padding: 32px;
  }
}

.OGIgNda svg {
  transform: rotate(-180deg);
}

.C2qwZ0z {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.C2qwZ0z:first-child {
  border-bottom: 1px solid var(--981189211);
  padding-bottom: 32px;
}

.C2qwZ0z + .C2qwZ0z {
  margin-top: 32px;
}

.BvvQAS4 {
  color: var(--2574810031);
  font-size: 32px;
  margin-bottom: 16px;
}

.MVs84JL {
  color: var(--2574810031);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 330px;
}

.s0y28bp {
  color: var(--2574810031);
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  width: 330px;
}

.l1MLVB6 {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--981189211);
  color: var(--2574810031);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: 16px;
  position: relative;
  text-align: left;
  width: 100%;
}

.N92YmhD {
  font-size: 24px;
  margin-right: 12px;
  position: relative;
  z-index: 2;
}

.rk975D6 {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 2;
}

.IlRy73w {
  font-size: 12px;
  margin-left: 8px;
  position: relative;
  z-index: 2;
}

.l1MLVB6:hover:before {
  animation: zgpPJSa 0.2s cubic-bezier(0.2, 0, 0.4, 1) forwards;
  background-color: var(--3502636724);
  border-radius: 8px;
  bottom: 6px;
  content: "";
  left: 6px;
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 1;
}

.u1o9VqC {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  overflow: scroll;
  padding: var(--padding) 0;
  width: 100%;
}

.UmzS7G6 {
  margin: 24px auto 0;
  max-width: calc(100% - 32px);
  width: 330px;
}

.mt5evOo {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 100%;
}

.Ys6M_A9 {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  z-index: 3;
}

@media only screen and (min-width: 1024px) {
  .Ys6M_A9 {
    background-color: var(--827732822);
    height: 100%;
    max-width: 700px;
    position: relative;
    width: 50%;
  }
}

.lK3rXp8 {
  background-color: var(--1246870197);
  display: block;
  flex-grow: 1;
  margin-bottom: -16px;
  position: relative;
  width: 100%;
  z-index: 1;
}

@media only screen and (min-width: 1024px) {
  .lK3rXp8 {
    bottom: 0;
    margin-bottom: 0;
    min-width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 700px);
  }
}

.PhtWY9V {
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.OxILuDP .PhtWY9V {
  display: block;
}

.OxILuDP .uNO9I0V {
  pointer-events: none;
}

.XjTy0Xx {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.aYIoNR6 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.Hgt7dHs {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--1235219442);
  border: 0;
  border-radius: 8px;
  color: var(--2574810031);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 48px;
  justify-content: center;
  padding: 0;
  transition: background-color 0.2s cubic-bezier(0.2, 0, 0.4, 1);
  width: 48px;
}

@media only screen and (min-width: 1024px) {
  .Hgt7dHs {
    border: 1px solid var(--981189211);
  }
}

.Hgt7dHs:hover {
  background-color: var(--3502636724);
}

.Wu197uo {
  align-items: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--1235219442);
  border: 0;
  border-radius: 8px;
  color: var(--2574810031);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 48px;
  justify-content: center;
  margin-left: 16px;
  min-width: 0;
  padding: 0 8px;
  transition: background-color 0.2s cubic-bezier(0.2, 0, 0.4, 1);
}

@media only screen and (min-width: 1024px) {
  .Wu197uo {
    border: 1px solid var(--981189211);
  }
}

.Wu197uo:hover {
  background-color: var(--3502636724);
}

.irX7h8M {
  color: #173af8;
  font-size: 24px;
  margin-right: 8px;
}

.Mz4w_wJ {
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FNo9lqn {
  align-items: center;
  background-color: var(--827732822);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  color: var(--2574810031);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .FNo9lqn {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    margin: auto;
    padding: 0;
    width: 340px;
  }
}

.KWwKjun,
.Qu_D8vg,
.uNO9I0V,
.vhQnkAr {
  margin: 0 auto;
  max-width: 100%;
  width: 400px;
}

.vhQnkAr {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 8px;
  text-align: center;
}

.Qu_D8vg {
  font-size: 16px;
  margin: 0 0 16px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .Qu_D8vg {
    margin-bottom: 32px;
  }
}

.uNO9I0V {
  bottom: calc(100% + 16px);
  max-width: calc(100% - 32px);
  position: absolute;
}

@media only screen and (min-width: 1024px) {
  .uNO9I0V {
    bottom: 0;
    margin: 32px 0;
    max-width: 100%;
    position: static;
  }
}

.KWwKjun {
  position: relative;
}

.KeDKmEj {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0 auto 16px;
  max-width: 100%;
  padding: 0;
  width: 400px;
}

@media only screen and (min-width: 1024px) {
  .KeDKmEj {
    margin-bottom: 0;
  }
}

.kiEsvGx {
  line-height: 1;
  white-space: nowrap;
}

.Nsv1hEF {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 0;
  width: 100%;
}

.r_xZmuT {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0.4, 1),
    transform 0.2s cubic-bezier(0.2, 0, 0.4, 1);
}

.kG1bLFV .r_xZmuT {
  transform: translateX(-30%);
}

.KuXWfDb .r_xZmuT {
  transform: translateX(30%);
}

.zX4MJWQ .r_xZmuT {
  opacity: 1;
  transform: translateX(0);
}

.VLb10pg {
  --style-gap: 8px;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}

.g6I_p3b {
  position: relative;
  width: calc(50% - var(--style-gap) / 2);
}

.g6I_p3b:nth-child(2n) {
  margin-left: var(--style-gap);
}

._0Og1aP {
  background-color: var(--3153880342);
  border-radius: 16px;
  cursor: pointer;
  display: block;
  margin-bottom: var(--style-gap);
  opacity: 1;
  overflow: hidden;
  position: relative;
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0.4, 1);
  width: 100%;
}

.z7zRvmR {
  opacity: 0.6;
  pointer-events: none;
}

._0Og1aP:before {
  content: "";
  display: block;
  padding-top: 100%;
}

._0Og1aP:after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.16));
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.vCM63a9 ._0Og1aP:after {
  display: none;
}

.IalStF6 {
  border-radius: inherit;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.N80TOle {
  bottom: 12px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  left: 12px;
  position: absolute;
  right: 12px;
  text-align: center;
  z-index: 2;
}

.vCM63a9 .N80TOle {
  color: var(--2301541356);
  top: 12px;
}

@media (prefers-color-scheme: dark) {
  html.auto-theme .vCM63a9 .N80TOle {
    color: var(--2574810031);
  }
}

html.dark .vCM63a9 .N80TOle {
  color: var(--2574810031);
}

html.lights-out .vCM63a9 .N80TOle {
  color: var(--2574810031);
}

.R5eR3nG {
  display: inline-block;
  font-size: 1.16em;
  margin-left: 6px;
  transform: translateY(16%);
}

.nGtXj_w {
  background-color: hsla(0, 0%, 100%, 0.24);
  border: 1px solid #fff;
  border-radius: 50%;
  height: 24px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  right: 12px;
  top: 12px;
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0.4, 1);
  width: 24px;
  z-index: 2;
}

.z7zRvmR .nGtXj_w {
  opacity: 0.2;
}

.zTDTSzM {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.iYcg6Hd {
  align-items: center;
  background-color: #173af8;
  border-radius: 50%;
  bottom: -1px;
  color: #fff;
  display: flex;
  font-size: 8px;
  justify-content: center;
  left: -1px;
  opacity: 0;
  position: absolute;
  right: -1px;
  top: -1px;
  transform: scale(0.75);
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0.4, 1),
    transform 0.2s cubic-bezier(0.2, 0, 0.4, 1);
}

.zTDTSzM:checked ~ .iYcg6Hd {
  opacity: 1;
  transform: scale(1);
}

.ALO_FpZ {
  --image-gap: 8px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: calc(var(--image-gap) * -1);
  margin-top: 16px;
  width: calc(100% + var(--image-gap));
}

.jvaXaDQ {
  border-radius: 8px;
  flex-grow: 0;
  margin-right: var(--image-gap);
  overflow: hidden;
  position: relative;
  width: calc(25% - var(--image-gap));
}

.jvaXaDQ:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.jvaXaDQ:nth-child(n + 5) {
  margin-top: var(--image-gap);
}

.VLpa992 {
  height: 100%;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.jvaXaDQ:after {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24));
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.FCqMMEj {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 10px;
  padding: 4px 4px 16px 16px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.b_GqPV1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.b_GqPV1 + .b_GqPV1,
.b_GqPV1 + input[type="hidden"] + .b_GqPV1 {
  margin-top: 8px;
}

.u92GlBa {
  flex-grow: 0;
  flex-shrink: 0;
}

@media only screen and (max-width: 767px) {
  .F8vpTkv {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .F8vpTkv .u92GlBa {
    width: 100% !important;
  }
}

@media only screen and (max-width: 767px) {
  .F8vpTkv .u92GlBa + .u92GlBa {
    margin-top: 8px;
  }
}

.bRx2bah {
  width: 100%;
}

.u4j_K6G {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.sCiTTK8 {
  flex-grow: 0;
  margin-right: 8px;
  width: 140px;
}

.Mp7HTFk {
  flex-grow: 1;
}

.q_LFkNQ {
  color: #f93a25;
  display: block;
  font-size: 12px;
  line-height: 1.3;
  margin: 2px 0;
  width: 100%;
}

.qfOKLeK {
  --size: 32px;
  position: relative;
}

.zZUlAHT {
  --size: 22px;
}

.j6yUXl5 {
  opacity: 0;
  position: absolute;
}

.j6yUXl5:disabled ~ .UPO9otQ {
  opacity: 0.3;
}

.UPO9otQ {
  align-items: center;
  background-color: var(--1235219442);
  border: 1px solid var(--981189211);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: var(--size);
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: border-color 0.2s cubic-bezier(0.2, 0, 0.4, 1);
  width: var(--size);
}

.M71AJ9s .j6yUXl5:checked ~ .UPO9otQ {
  border-color: #000;
}

.zZUlAHT .UPO9otQ {
  border-radius: 4px;
}

.rfYzLRU {
  align-items: center;
  bottom: 0;
  color: var(--2574810031);
  display: flex;
  font-size: calc(var(--size) / 2);
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0.4, 1);
}

.j6yUXl5:checked ~ .UPO9otQ .rfYzLRU {
  opacity: 1;
}

.M71AJ9s .rfYzLRU {
  background-color: #000;
  color: #fff;
}

.UHkTFtQ {
  margin: auto auto 0;
  max-width: 100%;
  padding-top: var(--padding);
  width: 200px;
}

.AAh3J22 {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 24px 0;
  width: 100%;
}

.DN6CP_3 {
  color: var(--3763335109);
  cursor: pointer;
  flex-grow: 1;
  font-size: 14px;
  padding-left: 16px;
}

.NBIAZPf {
  color: var(--3763335109);
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
}

.NBIAZPf a {
  font-weight: 600;
}

.NBIAZPf a:hover {
  text-decoration: underline;
}

.qK8lJns {
  margin: 0 auto;
  padding-top: 165%;
  perspective: 400px;
  position: relative;
  width: 100%;
}

.yCvp_8x {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 0.2s cubic-bezier(0.2, 0, 0.4, 1);
  transition-duration: 0.4s;
  width: 100%;
}

.R8G_7ep .yCvp_8x {
  transform: rotateY(180deg);
}

.LpD3gol {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  -webkit-perspective: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.R8G_7ep .rSn1jZi {
  pointer-events: none;
}

.LpD3gol {
  pointer-events: none;
  transform: rotateY(180deg);
}

.R8G_7ep .LpD3gol {
  pointer-events: auto;
}

.KMJniHw {
  color: #e6e7e7;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  html.auto-theme .KMJniHw {
    color: #646868;
  }
}

html.dark .KMJniHw {
  color: #646868;
}

html.lights-out .KMJniHw {
  color: #646868;
}

.bniG7UD {
  --hover-color: #cececf;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  html.auto-theme .bniG7UD {
    --hover-color: #817e7e;
  }
}

html.dark .bniG7UD {
  --hover-color: #817e7e;
}

html.lights-out .bniG7UD {
  --hover-color: #817e7e;
}

.bniG7UD path {
  cursor: pointer;
  transition: fill 0.2s cubic-bezier(0.2, 0, 0.4, 1);
}

.I_jy1Bx {
  margin: 0 auto;
  max-width: 100%;
  padding: 24px 0;
  width: 180px;
}

@media only screen and (min-width: 768px) {
  .I_jy1Bx {
    padding: 40px 0;
  }
}

.D69ie0C {
  left: 50%;
  padding-bottom: 24px;
  position: relative;
  transform: translateX(-50%);
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .D69ie0C {
    max-width: 700px;
    width: 50vw;
  }
}

._uSDi7x {
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.h8crPVY {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.kknrKeB {
  background-color: var(--827732822);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.q60Yw1Y {
  align-items: center;
  background-color: var(--532366285);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.GQadxhq {
  animation: none;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.R7zau0N {
  animation: fRCTegl 0.2s cubic-bezier(0.2, 0, 0.4, 1) forwards;
  opacity: 0;
  z-index: 3;
}

@keyframes fRCTegl {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Cqs7Rsj {
  animation: none;
  opacity: 1;
}

.oC2iyTv {
  z-index: 2;
}

.vYYuDkF {
  --toggle-spacing: 0px;
  --toggle-height: 40px;
  align-items: center;
  background-color: var(--3644322065);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  height: var(--toggle-height);
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 0;
}

@media (prefers-color-scheme: dark) {
  html.auto-theme .vYYuDkF {
    background-color: var(--1235219442);
  }
}

html.dark .vYYuDkF {
  background-color: var(--1235219442);
}

html.lights-out .vYYuDkF {
  background-color: var(--1235219442);
}

.vYYuDkF.jzvh5AO {
  --toggle-spacing: 16px;
  --toggle-height: 30px;
  border-radius: 4px;
}

.vYYuDkF.YZnDeUE {
  border-radius: calc(var(--toggle-height) / 2);
}

.Ew92_8Y {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--2574810031);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  opacity: 0.6;
  padding: 0;
  position: relative;
  text-align: center;
  transition: font-weight 0.2s cubic-bezier(0.2, 0, 0.4, 1),
    opacity 0.2s cubic-bezier(0.2, 0, 0.4, 1);
  white-space: nowrap;
  width: calc(50% - var(--toggle-spacing) / 2);
  z-index: 2;
}

.jzvh5AO .Ew92_8Y {
  font-size: 12px;
}

.kr4Thlt {
  font-weight: 700;
  opacity: 1;
  z-index: 1;
}

.jzvh5AO .kr4Thlt {
  font-weight: 600;
}

.kr4Thlt:before {
  background-color: var(--1235219442);
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 0 1px 0 rgba(0, 0, 0, 0.06);
  content: "";
  height: calc(var(--toggle-height) - 4px);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100% - 4px);
  z-index: -1;
}

@media (prefers-color-scheme: dark) {
  html.auto-theme .kr4Thlt:before {
    background-color: var(--590345169);
  }
}

html.dark .kr4Thlt:before {
  background-color: var(--590345169);
}

html.lights-out .kr4Thlt:before {
  background-color: var(--590345169);
}

.YZnDeUE .kr4Thlt:before {
  border-radius: calc((var(--toggle-height) - 4px) / 2);
}

.sIrcO2i .kr4Thlt:first-child:before {
  animation: jFhb89u 0.2s cubic-bezier(0.2, 0, 0.4, 1) forwards;
}

@keyframes jFhb89u {
  0% {
    transform: translateY(-50%) translateX(50%);
  }

  to {
    transform: translateY(-50%) translateX(-50%);
  }
}

.sIrcO2i .kr4Thlt:last-child:before {
  animation: hkMmFX6 0.2s cubic-bezier(0.2, 0, 0.4, 1) forwards;
}

@keyframes hkMmFX6 {
  0% {
    transform: translateY(-50%) translateX(-150%);
  }

  to {
    transform: translateY(-50%) translateX(-50%);
  }
}

/*# sourceMappingURL=20cc4d11.js.map*/

/*# sourceMappingURL=3810a706.js.map*/
